.bg-light{background-color: #ffdf1b !important;}
.btn-success{background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);}
.box_1, .box_2, .box_3{padding: 40px 30px;}

.box_1{background: #ffdf1b; color:#000;}

.box_2{background: #333333; color:#fff;}

.box_3{background: #007b5b; color:#fff;}

.footer-copyright{background:#000; color:#fff;}

a.boxed-btn3-white{color:#fff;}