.bg-light{background-color: #8a9939 !important;}
.bg-light a{color:#fff !important;}
.btn-success{background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);}
.box_1, .box_2, .box_3{padding: 40px 30px;}

.box_1{background: #2f3c1c; color:#fff;}

.box_2{background: #dee2d4;}

.box_3{background: #8a9939; color:#fff;}

.footer-copyright{background:#000; color:#fff;}
