.bg-light{background-color: #94c329 !important;}
.bg-light a{color:#eee !important;}
.btn-success{background-image: linear-gradient(-180deg,#9fbf00,#80ab00 91%);}
.box_1, .box_2, .box_3{padding: 40px 30px;}

.box_1{background: #00486e; color:#fff;}

.box_2{background: #ffffff;}

.box_3{background: #94c329; color:#fff;}

.footer-copyright{background:#000; color:#fff;}
